@media screen and (max-width: 767px){
    #myCarousel>div.carousel-inner>div.item>img{
        height:340px;
        width:100%;
    }
    #recommended_products  div.my_re_parent:hover div.my_summary{
        background:#000;
        color:#fff;
        height:30px;
    }

}

@media screen and(min-width: 768px)and(max-width:991px){
    #myCarousel>div.carousel-inner>div.item>img{
        height:450px;!important;
        width:100%;
    }
    #myCarousel div.my_carousel_caption>h1{
        font-size:3em;
    }
}

@media screen and (min-width:991px){
    #myCarousel>div.carousel-inner>div.item>img{
        height:650px;
        width:100%;
    }
 
}

@media screen and (min-width:1700px){
    #myCarousel div.my_carousel_caption{
        width:680px;
        height:280px;
        text-indent: 40px;
    }
    #myCarousel div.my_carousel_caption>h1{
        font-size:5em;
        text-indent: 40px;
        font-weight:bold;
    }
    #myCarousel div.my_carousel_caption>h3{
        font-size:20px;
        text-indent: 40px;
    }
}
#myCarousel a.carousel-control{
    width:4%;
    height:14%;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:40%;
}
#myCarousel div.carousel-inner{
    position:relative;
}
#myCarousel span.glyphicon{
    top:30%;
    font-size:1.3em;
    position:absolute;
}
#myCarousel span.glyphicon-arrow-left{
    left:20%;
}
#myCarousel span.glyphicon-arrow-right{
    right:20%;
}

#myCarousel div.my_carousel_caption{
    position:absolute;
    height:250px;
}

#myCarousel div.my_carousel_caption>h1{
    text-indent:10px;
    font-weight: bold;
}

#myCarousel div.my_carousel_caption>h3{
    text-indent:10px;
}
#myCarousel div.my_carousel_caption>p{
    text-indent:10px;
}

#myCarousel div.item:first-child div.my_carousel_caption{
    background:rgba(9,50,89,0.8);
    right:20%;
    bottom:0;
    color:#fff;
}

#myCarousel div.item:nth-child(2) div.my_carousel_caption{
    background:rgba(226,215,94,0.8);
    left:20%;
    bottom:0;
    color:#000;
}


.carousel-control.left {
    background-image:none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=‘#80000000‘, endColorstr=‘#00000000‘, GradientType=1);
}
.carousel-control.right {
    left: auto;
    right: 0;
    background-image:none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=‘#00000000‘, endColorstr=‘#80000000‘, GradientType=1);
}

#recommended_products div.container:first-child{
    padding-top: 54px;
}
#recommended_products hr,#bestseller_list hr,#brand_news hr{
     margin-top:40px;
     border:0.5px solid #edefec;
}
#recommended_products  div.container  div.row >div>a,
#bestseller_list div.container div.row>div>a,
#brand_news div.container div.row>div>a{
    display:block;
    overflow:hidden;
    height:100%;
}
#recommended_products  div.container  div.row >div >a>img,
#bestseller_list div.container div.row>div>a>img,
#brand_news div.container div.row>div>a>img{
    width:100%;
    height:auto;
}
#recommended_products  div.my_summary{
    position:absolute;
    bottom:0;
    left:0px;
    height:75px;
    width:100%;
    text-align:left;
    transition:0.5s all;
    text-indent:10px;
}
#recommended_products  div.my_re_parent,
#bestseller_list  div.my_re_parent{
    border:rgba(0,0,0,0.03) 1px solid;
    padding-bottom:20px;
}
#recommended_products  div.my_summary>h4,
#bestseller_list div.my_summary>h4{
    font-size:14px;
}

#recommended_products  div.my_summary>h4:last-child,
#bestseller_list  div.my_summary>h4:last-child{
    font-weight:bold;
}
#recommended_products  div.my_re_parent:hover{
    border:1px solid rgba(0,0,0,0.3);
}
#recommended_products  div.my_re_parent:hover div.my_summary{
    background:#000;
    color:#fff;
    height:90px;
}
#recommended_products  div.my_re_parent:hover a>img,
#bestseller_list  div.my_re_parent:hover a>img
{
    transition: 1s all;
}
#recommended_products  div.my_re_parent:hover a>img,
#bestseller_list div.my_re_parent:hover a>img{
    transform:scale(1.2);
}
#recommended_products div.container:first-child div.col-md-2 h4:first-child,
#bestseller_list>div.container>div.row:first-child div.col-md-2 h4:first-child{
    font-weight: bold;
}
#recommended_products div.container:first-child div.col-md-2 h4:nth-child(2),
#bestseller_list>div.container>div.row:first-child div.col-md-2 h4:nth-child(2){
    color: #353535;
}
#recommended_products{
   margin-bottom:90px;
}

#latest_product{
    background:#efefef;
}
#latest_product>div.container-fluid>div.row>div.col-md-6{
    height:620px;
    overflow: hidden;
}
#latest_product>div.container-fluid>div.row>div.col-md-6:nth-child(2){
    padding: 94px 92px 0;
    height:auto;
}

#latest_product div.container-fluid img{
    width:100%;
    height:620px;
}
#latest_product>div.container-fluid>div.row>div.col-md-6:nth-child(2)>h2{
    font-size:30px;
}
#latest_product>div.container-fluid>div.row>div.col-md-6:nth-child(2)>h4{
    font-size:18px;
}

#latest_product ul>li{
    padding-bottom: 6px;
    border-bottom: 1px solid #000;
    line-height: 28px;
    font-size: 14px;
}
#latest_product ul>li:last-child{
    border-bottom: none;
    padding-top:20px;
}

#latest_product ul>li span.glyphicon{
   color:#5b9b1c;
    font-size: 8px;
    padding-right: 6px;
}



#bestseller_list{
    margin-top: 54px;
 }
#bestseller_list  div.my_re_parent{
    background:#fafafa;
}
#bestseller_list  div.my_re_parent{
    padding:0px;
}
#bestseller_list  div.my_re_parent div.my_summary{
    width:100%;
    transition:0.5s all;
    text-indent:10px;
    padding-top:10px;
    padding-bottom:10px;
    position:relative;
}
#bestseller_list  div.my_re_parent:hover div.my_summary{
    background:#000;
    color:#fff;
}
#bestseller_list div.my_re_parent>p{
    font-size:36px;
    transition:all 0.5s;
    padding-left:10px;
    color:#55c842;
    position:absolute;
    z-index: 10;
}
#bestseller_list div.my_re_parent>p .glyphicon{
    font-size:14px;
}

#bestseller_list  div.my_re_parent:hover>p{
  font-size:80px;
}

#bestseller_list  div.my_re_parent:hover>p .glyphicon{
    font-size:20px;

}
#detailed_data{
    background:#fafafa;
    margin-top:80px;
}
#detailed_data p{
    font-weight: bold;
    font-size:32px;
}

#detailed_data div.container>div.row>div.col-md-3{
    padding-top:78px;
}
#detailed_data span{
    font-size:18px;
}
#detailed_data div.col-md-3{
    padding-bottom: 78px;
}
#brand_news{
    padding-top:68px;
}
#brand_news div.row:nth-child(2)>div.col-md-4{
    background:#f3f3f3;
}
#brand_news div.row:nth-child(2)>div.col-md-4>a{
    height:182px;
    overflow: hidden;
    margin-top: 18px;
    position:relative;
}
#brand_news div.my_summary{
    padding-top:18px;
}
#brand_news div.my_summary>a:first-child{
    font-size:18px;
    color:#000;
    text-indent: 10px;
}
#brand_news div.my_summary>p{
    font-size:13px;
    padding:10px 0 ;
    color:#6d6d73;
    line-height: 22px;
}
#brand_news div.my_summary>a:nth-child(3){
    font-size:15px;
    color:#000;
    position:absolute;
    bottom:28px;
}
#brand_news div.rotation_effect{
    width:100%;
    height:100%;
    position:absolute;
    background:rgba(88,131,62,0);
    transition:1s;
}

#brand_news div.rotation_effect div.icon{
    width:50px;
    height:50px;
    border:1px solid #fff;
    border-radius:50%;
    line-height: 50px;
    color:#fff;
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /*display:none;*/
}

#brand_news div.row:nth-child(2)>div.col-md-4>a div.rotation_effect>div.icon>span.glyphicon{
    transition:3s all;
    transform-origin: center;
}

#brand_news div.row div.col-md-2>h4:first-child{
    font-weight: bold;
}
#brand_news div.row:nth-child(2)>div.col-md-4>a img{
     transition:all 3s linear;
 }
#brand_news div.row:nth-child(2)>div.col-md-4>a div.rotation_effect{
    background:rgba(88,131,62,0.8);
    opacity:0;
    transition:all 0.5s linear;
    position:relative;
    z-index:-1;
}

#brand_news div.row:nth-child(2)>div.col-md-4>a{
    position:relative;
}
#brand_news div.row:nth-child(2)>div.col-md-4>a img{
    position:absolute;
    z-index:0;
    top:0;left:0;bottom:0;right: 0;
}
#brand_news div.row:nth-child(2)>div.col-md-4>a:hover img{
    transform:scale(1.2);
}

#brand_news div.row:nth-child(2)>div.col-md-4>a:hover .rotation_effect{
    opacity:1;
    z-index:10;
}
#brand_news div.row:nth-child(2)>div.col-md-4>a .icon{
    transition:all 0.02s linear;
    z-index:11;
    transform:rotate(-30deg);
    transform-origin:50% 50%;
}

#brand_news div.row:nth-child(2)>div.col-md-4>a:hover .icon span.glyphicon{
    transform:rotate(40deg);
    font-size: 23px;
}
#brand_news div.row:nth-child(2)>div.col-md-4{
    height:430px;
}



